.content-heading {
  display: flex;
  justify-content: center;
}
.contect-form {
  margin-top: 40px;
  padding: 50px;
  width: 50%;
  box-shadow: 0px 0px 3px 1.3px #00614e;
  border-radius: 15px;
  background: linear-gradient(100.9deg, #463670 23.06%, #00614e 40% , #2b9f9c 100.25%);
}
.contect-form input {
  padding: 10px 15px;
}
.contect-form textarea {
  height: 160px;
  padding: 10px;
  background: transparent;
  color: #fff;
  font-size: 18px;
}
.btn {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 15px;
  font-weight: 600;
  width: 100%;
  color: #cbb26a;
  transition: 0.5s ease;
}
.btn:hover {
  color: #fff;
  transition: 0.5s ease;
  position: relative;
  z-index: 2;
  border: 1px solid #00614e;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(0.98);
}
.text {
  margin-top: 30px;
}
.form-control {
  margin: 20px 0 20px;
  position: relative;
}
.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  color: white;
  display: block;
  font-size: 1.2rem;
  padding: 15px 0;
  width: 100%;
}
.form-control input::placeholder {
  color: transparent;
}
.form-control input:focus,
.form-control input:valid {
  border-bottom-color: #fff;
  outline: 0;
}
.form-control label {
  left: 0;
  position: absolute;
  top: 15px;
  color: white;
}
.form-control label span,
.form label {
  display: inline-block;
  font-size: 1.2rem;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #fff;
  transform: translateY(-30px);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form label{
  color: #fff;
}
form#contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
button.btn {
  background: transparent;
  border: 1px solid;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
  margin-top: 22px;
  z-index: 2;
}
button.btn:after {
  content: "";
  transform: translate(-100%);
  position: absolute;
  background: #00614e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  z-index: -1;
  transition: 0.5s ease;
}
button.btn:hover:after {
  transform: translate(0%);
  z-index: -1;
  transition: 0.5s ease;
}

/* </------------- Find Me Start ------------------/> */
.find-heading{
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
i.et-pb-icon img {
  width: 37px;
}
ul.find-content {
  display: flex;
  gap: 20px;
}
ul.find-content li {
  list-style: none;
  padding: 0;
  color: black;
  font-weight: 600;
  line-height: 28px;
}
.find-map iframe {
  height: 450px;
}
.contect-section .appointment-number a,.contect-section .appointment-whatsapp a{
  padding: 10px;
}
.appointment-section{
  padding-block: 50px 0;
}
.appointment-address p{
  color:#fff;
  padding: 0 20px 30px;
}
.find-text a {
  color: black;
  align-items: center;
  display: flex;
  line-height: 28px;
}
.contect-section .appointment-number a:last-child:before {
  content: "\f232";
}
@media only screen and (max-width:1024px) {
  .contect-form {
    width: 80%;
  }
}
@media only screen and (max-width:767px) {
  .contect-form {
    width: 100%;
    padding: 20px;
  } 
  form#contact-form {
    width: 80%;
  } 
  .contect-section .appointment-content{
    width: 80%;
  }
  .contect-section .appointment-number a:before,.appointment-time p:before {
    margin-right: 10px;
    font-size: 12px;
    width: 35px;
    height: 35px;
  }
}
@media only screen and (max-width:500px) {
  .contect-section .appointment-number a, .contect-section .appointment-whatsapp a {
    padding: 10px 0 10px 20px;
  }
}
@media only screen and (max-width:425px) {
  .content-heading {
    display: block;
  }
  .find-heading {
    display: block;
  }
  .find-heading {
    display: block;
  } 
}
